@import "fonts/fonts";
@import "base/variables";
@import "base/mixins";

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  height: 100%;
  color: $main-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Bold", sans-serif;
  margin: 0;
}

.container {
  max-width: 1728px;
  padding: 0 80px;
  margin: 0 auto;
}

.pages {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

@import "blocks/header";
@import "blocks/banner";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/spheres";
@import "blocks/howwork";
@import "blocks/info";
@import "blocks/faq";
@import "blocks/promotions";
@import "blocks/footer";
@import "base/media";
