<div class="faq-links">
  <a href="/" class="faq-link active">Клиент</a>
  <a href="/" class="faq-link">Пользователь</a>
  <a href="/" class="faq-link">Администратор</a>
</div>

<div class="faq-accordion">
  <div class="faq-accordion-item">
    <div class="faq-accordion-item__content">
      <header>
        <span class="faq-accordion-item__title">
          Как перевести чаевые по QR-коду?
        </span>
        <img
          class="faq-accordion-item__icon"
          src="../images/faq-plus.svg"
          alt="plus"
        />
      </header>

      <div class="faq-accordion-item__panel">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sed
        iusto corrupti consequatur tenetur, nobis ab aliquid quia temporibus
        molestias, corporis dolorem iste sint minima enim deserunt eius!
        Molestiae, accusantium.
      </div>
    </div>
  </div>

  <div class="faq-accordion-item">
    <div class="faq-accordion-item__content">
      <header>
        <span class="faq-accordion-item__title">
          Как отсканировать QR-код на визитке или чеке?
        </span>
        <img
          class="faq-accordion-item__icon"
          src="../images/faq-plus.svg"
          alt="plus"
        />
      </header>

      <div class="faq-accordion-item__panel">Lorem ipsum</div>
    </div>
  </div>

  <div class="faq-accordion-item">
    <div class="faq-accordion-item__content">
      <header>
        <span class="faq-accordion-item__title">
          Какие способы оплаты существуют?
        </span>
        <img
          class="faq-accordion-item__icon"
          src="../images/faq-plus.svg"
          alt="plus"
        />
      </header>

      <div class="faq-accordion-item__panel">Lorem ipsum</div>
    </div>
  </div>

  <div class="faq-accordion-item">
    <div class="faq-accordion-item__content">
      <header>
        <span class="faq-accordion-item__title"
          >Сохраняют ли данные моей карты?</span
        >
        <img
          class="faq-accordion-item__icon"
          src="../images/faq-plus.svg"
          alt="plus"
        />
      </header>

      <div class="faq-accordion-item__panel">Lorem ipsum</div>
    </div>
  </div>
</div>
