<div class="card">
  <div class="card-desc">
    <h2 class="card-desc-title">+20% поступлений</h2>
    <p class="card-desc-text">
      Многим клиентам удобней переводить чаевые онлайн
    </p>
  </div>
  <picture class="card-img">
    <source srcset="../images/transfer.webp" type="image/webp" />
    <source srcset="../images/transfer.avif" type="image/avif" />
    <img src="../images/transfer.png" alt="Transfer" />
  </picture>
</div>

<div class="card">
  <div class="card-desc">
    <h2 class="card-desc-title">Деньги сразу на карту</h2>
    <p class="card-desc-text">
      Сервис обеспечивает перевод денег на счет получателя, а не хранит их
    </p>
  </div>
  <picture class="card-img">
    <source srcset="../images/bank-card.webp" type="image/webp" />
    <source srcset="../images/bank-card.avif" type="image/avif" />
    <img src="../images/bank-card.png" alt="Bank card" />
  </picture>
</div>

<div class="card">
  <div class="card-desc">
    <h2 class="card-desc-title">Без налогов</h2>
    <p class="card-desc-text">
      Чаевые и донаты считаются подарком и не облагаются налогами
    </p>
  </div>
  <picture class="card-img">
    <source srcset="../images/taxes.webp" type="image/webp" />
    <source srcset="../images/taxes.avif" type="image/avif" />
    <img src="../images/taxes.png" alt="Taxes" />
  </picture>
</div>

<div class="card">
  <div class="card-desc">
    <h2 class="card-desc-title">Визитки бесплатно</h2>
    <p class="card-desc-text">Подарим пробные визитки для быстрого старта</p>
  </div>
  <picture class="card-img">
    <source srcset="../images/business-cards.webp" type="image/webp" />
    <source srcset="../images/business-cards.avif" type="image/avif" />
    <img src="../images/business-cards.png" alt="Business-cards" />
  </picture>
</div>

<div class="card">
  <div class="card-desc">
    <h2 class="card-desc-title">Без абонентской платы</h2>
    <p class="card-desc-text">Мы не берем платы за использование сервиса</p>
  </div>
  <picture class="card-img">
    <source srcset="../images/subscription-fee.webp" type="image/webp" />
    <source srcset="../images/subscription-fee.avif" type="image/avif" />
    <img src="../images/subscription-fee.png" alt="Subscription-fee" />
  </picture>
</div>

<div class="card">
  <div class="card-desc">
    <h2 class="card-desc-title">Без комиссии</h2>
    <p class="card-desc-text">Комиссию оплачивает ваш клиент</p>
  </div>
  <picture class="card-img">
    <source srcset="../images/commission.webp" type="image/webp" />
    <source srcset="../images/commission.avif" type="image/avif" />
    <img src="../images/commission.png" alt="Commission" />
  </picture>
</div>
