<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer-links">
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Пользовательское соглашение</a>
      </div>
      <div class="footer-presentation">
        <a href="">Презентация.pdf</a>
        <a href="/"
          ><img
            class="footer-presentation__logo"
            src="../images/sprite.svg#logo"
            alt="logo"
        /></a>
      </div>
    </div>
  </div>
</footer>
