<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header-logo" href="/"
        ><img src="../images/sprite.svg#logo" alt="logo"
      /></a>

      <nav class="header-nav">
        <button class="header-nav__close-btn">
          <img src="../images/exit.svg" alt="close" />
        </button>

        <form>
          <button
            formaction="https://tipcash.ge/app/signin"
            class="header-nav__user-btn"
          >
            <span class="header-nav__user-btn-text">Вход/Регистрация</span>
          </button>
        </form>
        <a href="#spheres">Для кого сервис</a>
        <a href="#howwork">Как это работает</a>
        <a href="#info">Макеты с QR-кодом</a>
        <a href="#faq">Часто задаваемые вопросы</a>
        <h2 class="header-nav__logo">
          <img src="../images/logo-mobile.svg" alt="Logo" />
        </h2>
      </nav>

      <button class="header-burger">
        <img class="header-btn__icon" src="../images/burger.svg" alt="menu" />
      </button>

      <form>
        <button formaction="https://tipcash.ge/app/signin" class="header-btn">
          <img class="header-btn__icon" src="../images/user.svg" alt="user" />
          <span class="header-btn__text">Вход/Регистрация</span>
        </button>
      </form>
    </div>
  </div>
</header>
