<div class="how-work-item">
  <h2 class="how-work-item-step">1.</h2>
  <picture class="how-work-item-img">
    <source srcset="../images/step1.webp" type="image/webp" />
    <source srcset="../images/step1.avif" type="images/avif" />
    <img src="../images/step1.png" alt="step 1" />
  </picture>
  <p class="how-work-item-text">
    Зарегистрируйтесь на сайте и настройте свою профессиональную страницу с
    QR-кодом
  </p>
</div>

<div class="how-work-item">
  <h2 class="how-work-item-step">2.</h2>
  <picture class="how-work-item-img">
    <source srcset="../images/step2.webp" type="image/webp" />
    <source srcset="../images/step2.avif" type="images/avif" />
    <img src="../images/step2.png" alt="step 2" />
  </picture>
  <p class="how-work-item-text">
    Дайте отсканировать QR-код клиенту на смартфоне, визитке или пришлите ему
    ссылку
  </p>
</div>

<div class="how-work-item">
  <h2 class="how-work-item-step">3.</h2>
  <picture class="how-work-item-img">
    <source srcset="../images/step3.webp" type="image/webp" />
    <source srcset="../images/step3.avif" type="images/avif" />
    <img src="../images/step3.png" alt="step 3" />
  </picture>
  <p class="how-work-item-text">
    Клиент выбирает сумму чаевых и подтверждает перевод
  </p>
</div>
