<div class="info-item">
  <picture class="info-item-img">
    <source srcset="../images/qr-code.webp" type="image/webp" />
    <source srcset="../images/qr-code.avif" type="image/avif" />
    <img src="../images/qr-code.png" alt="qr-code" />
  </picture>

  <div class="info-item-desc">
    <h2 id="info" class="info-item-desc__title">QR-код там где это удобно</h2>
    <p class="info-item-desc__text">
      В личном кабине можно скачать макеты для печати в типографии визиток,
      тейбл-тентов, наклеек и других носителей с вашим QR-кодом. Выбор
      POS-материалов зависит от вашей сферы деятельности.
    </p>
    <p class="info-item-desc__text">
      Кроме печатных и цифровых материалов вы можете размещать ссылки на
      страницы чаевых в своих соцсетях, интегрировать кнопки благодарности на
      свой сайт и личные страницы
    </p>
  </div>
</div>

<div class="info-item lavender">
  <picture class="info-item-img">
    <source srcset="../images/for-business.webp" type="image/webp" />
    <source srcset="../images/for-business.avif" type="image/avif" />
    <img src="../images/for-business.png" alt="for-business" />
  </picture>
  <div class="info-item-desc">
    <h2 class="info-item-desc__title">Для бизнеса</h2>
    <ul class="info-item-desc__list">
      <li>
        Сервис не взимает абонентской платы и является бесплатным для бизнеса и
        сотрудников
      </li>
      <li>
        Персональный менеджер для вашего бизнеса и техподдержка пользователей
      </li>
      <li>Бесплатные POS-материалы для комфортного старта бизнеса</li>
      <li>
        Статистика и аналитика поступлений чаевых по сотрудникам и управление
        командами
      </li>
      <li>
        Контроль качества работы сотрудников через отзывы и оценки клиентов
      </li>
    </ul>
  </div>
</div>

<div class="info-item light-cyan">
  <picture class="info-item-img">
    <source srcset="../images/telegram-info.webp" type="image/webp" />
    <source srcset="../images/telegram-info.avif" type="image/avif" />
    <img src="../images/telegram-info.png" alt="telegram-info" />
  </picture>

  <div class="info-item-desc">
    <h2 class="info-item-desc__title">Если вам привычней Telegram</h2>
    <p class="info-item-desc__text">
      С помощью нашего бота вы сможете получать всю необходимую информацию и
      оповещения прямо в мессенджере: узнавать баланс счета, получать информацию
      о поступлениях, быстро получать ссылки на свои QR-коды, запрашивать
      информацию о своих командах и многое другое
    </p>
  </div>
</div>
