<div class="spheres-item">
  <img
    class="spheres-item-icon"
    src="../images/sprite.svg#barmans"
    alt="barmans"
  />

  <h2 class="spheres-item-title">Официанты, бармены и бариста</h2>
  <p class="spheres-item-text">
    Гости смогут оставить вам чаевые отсканировав QR-код на визитке или
    тейбл-тенте
  </p>
  <a class="spheres-item-link" href="/">
    <img
      src="../images/sprite.svg#arrow"
      class="spheres-item-link__icon"
      alt="arrow"
  /></a>
</div>

<div class="spheres-item">
  <img
    class="spheres-item-icon"
    src="../images/sprite.svg#beauty-masters"
    alt="barmans"
  />

  <h2 class="spheres-item-title">Бьюти-мастера, косметологи и массажисты</h2>
  <p class="spheres-item-text">
    Ваши клиенты смогут поблагодарить вас отсканировав QR-код с наклейки или
    визитки
  </p>
  <a class="spheres-item-link" href="/">
    <img
      src="../images/sprite.svg#arrow"
      class="spheres-item-link__icon"
      alt="arrow"
  /></a>
</div>

<div class="spheres-item">
  <img
    class="spheres-item-icon"
    src="../images/sprite.svg#artists"
    alt="artists"
  />

  <h2 class="spheres-item-title">Артисты, стримеры и музыканты</h2>
  <p class="spheres-item-text">
    Фанаты и поклонники смогут поддержать вас материально перейдя по ссылке в
    ваших аккаунтах
  </p>
  <a class="spheres-item-link" href="/">
    <img
      src="../images/sprite.svg#arrow"
      class="spheres-item-link__icon"
      alt="arrow"
  /></a>
</div>

<div class="spheres-item">
  <img
    class="spheres-item-icon"
    src="../images/sprite.svg#couriers"
    alt="couriers"
  />

  <h2 class="spheres-item-title">Курьеры, доставщики и водители</h2>
  <p class="spheres-item-text">
    Прилагайте визитки с QR-кодом к доставленным посылкам или размещайте в
    салоне своего транспорта
  </p>
  <a class="spheres-item-link" href="/">
    <img
      src="../images/sprite.svg#arrow"
      class="spheres-item-link__icon"
      alt="arrow"
  /></a>
</div>

<div class="spheres-item">
  <img
    class="spheres-item-icon"
    src="../images/sprite.svg#foremans"
    alt="foremans"
  />

  <h2 class="spheres-item-title">Курьеры, доставщики и водители</h2>
  <p class="spheres-item-text">
    Прилагайте визитки с QR-кодом к доставленным посылкам или размещайте в
    салоне своего транспорта
  </p>
  <a class="spheres-item-link" href="/">
    <img
      src="../images/sprite.svg#arrow"
      class="spheres-item-link__icon"
      alt="arrow"
  /></a>
</div>

<div class="spheres-item">
  <img
    class="spheres-item-icon"
    src="../images/sprite.svg#coaches"
    alt="coaches"
  />

  <h2 class="spheres-item-title">Тренеры, коучи и преподаватели</h2>
  <p class="spheres-item-text">
    Благодарные ученики смогут перевести вам донаты или чаевые используя
    распечатанные макеты с QR- кодом
  </p>
  <a class="spheres-item-link" href="/">
    <img
      src="../images/sprite.svg#arrow"
      class="spheres-item-link__icon"
      alt="arrow"
  /></a>
</div>
