<div class="promotions-timer">
  <h3 class="promotions-timer__title">До конца действия акции осталось:</h3>
  <div class="promotions-timer__time-items time-count__items">
    <div class="time-count__item">
      <div class="time-count__value time-count__hours">23</div>
      <span class="time-count__text" data-hours>часы</span>
    </div>
    <div class="time-count__divider">:</div>
    <div class="time-count__item">
      <div class="time-count__value time-count__minutes">59</div>
      <span class="time-count__text" data-minutes>минуты</span>
    </div>
    <div class="time-count__divider">:</div>
    <div class="time-count__item">
      <div class="time-count__value time-count__seconds">48</div>
      <span class="time-count__text" data-seconds>секунды</span>
    </div>
  </div>
</div>
