$main-color: #5e2ee7;
$second-color: #282828;
$green: #a8fce4;
$light-cyan: #d0f2fd;
$strong-cyan: #0fd1a3;
$very-pale-cyan: #d0fff4;
$lavender-blue: #d0d8fd;
$dark-violet: #8f00ff;
$gray: #9c9c9c;
$white: #fff;
